.Task{
	width: 100%;
	font-size: 16px;
	min-height: 500px;
}
.Task-item{
	width: 100%;
	min-height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: move;
	padding: 15px;
	margin: 0 0 1rem 0;
}
.Task-title{
	font-size: 0.95em;
	margin: 0;
	padding: 0;
}
.Task-ico:hover{
	color: red;
}
.Container{
	background: #ebf0f2;
}
.List{
	padding: 0 !important;
	font-size: 16px;
	height: 100vh;
	margin: 0;
}
.List-header{
	width: 100%;
	padding: 6px 15px;
	background: #98aab3;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: solid 1px white;
}
.List-title{
	font-size: 1em;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
}
.List-ico{
	margin-right: 10px;
}
.List-count{
	color: white;
	font-size: 1em;
	font-weight: 700;
}
.List-container{
	padding: 15px;
	min-height: 100%;
}
.List-button{
	text-align: center;
}
.no-margin{
	margin: 0!important;
}