<!DOCTYPE html>
<html lang="es" ng-app="todo">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Todo list</title>

	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
	<link rel="stylesheet" href="./css/styles.css">
	
</head>
<body ng-controller="MasterController">
	<!--<div class="row">
		<div class="col s12 m6 offset-m3">
			<div class="card-panel">
				<ul class="collection with-header">
					<li class="collection-header">
						<div class="row">
							<div class="input-field col s12 m6 offset-m2">
          						<input id="task" type="text" class="validate"  ng-model="data.name">
          						<label for="task">Tarea</label>
        					</div>
        					<div class="input-field col s12 m1">
        						<a class="waves-effect waves-light btn" ng-click="addTask()">Agregar</a>
        					</div>
						</div>
					</li>
					<li class="collection-item">
						<ul class="collection Task" ui-sortable ng-model="todos">
							<li class="collection-item dismissable Task-item" ng-repeat="todo in todos">
								<div>{{todo.name}}
									<a href="#!" class="secondary-content" ng-click="removeTask($index)">
										<i class="material-icons Task-ico">
											power_settings_new
										</i>
									</a>
								</div>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>-->
	<div class="row no-margin Container">
		<div class="col s12 m3 List">
			<div class="List-header">
				<h1 class="List-title"><i class="material-icons List-ico">receipt</i> All tasks</h1>
				<label for="" class="chip teal lighten-2 List-count">{{todos[0].length}}</label>
			</div>

			<div class="List-container">
				<div class="Task screen" ui-sortable="sortableOptionsList[0]" ng-model="todos[0]">
					<div class="card-panel Task-item" ng-repeat="todo in todos[0]">
						<h2 class="Task-title">{{todo.name}}</h2>
						<a href="#!" ng-click="removeTask($index)">
							<i class="material-icons Task-ico">
								power_settings_new
							</i>
						</a>
					</div>

					<div class="List-button">
						<a class="btn-floating btn-small waves-effect waves-light teal" ng-click="createTask(0)"><i class="material-icons">add</i></a>
					</div>
				</div>
			</div>
		</div>

		<div class="col s12 m3 List" style="background: #f5f7f8;">
			<div class="List-header" style="background: #00aaff;">
				<h1 class="List-title"><i class="material-icons List-ico">mode_edit</i> In progress</h1>
				<label for="" class="chip teal lighten-2 List-count">{{todos[1].length}}</label>
			</div>
			
			<div class="List-container">
				<div class="Task screen" ui-sortable="sortableOptionsList[1]" ng-model="todos[1]">
					<div class="card-panel Task-item" ng-repeat="todo in todos[1]">
						<h2 class="Task-title">{{todo.name}}</h2>
						<a href="#!" ng-click="removeTask($index)">
							<i class="material-icons Task-ico">
								power_settings_new
							</i>
						</a>
					</div>

					<div class="List-button">
						<a class="btn-floating btn-small waves-effect waves-light teal" ng-click="createTask(1)"><i class="material-icons">add</i></a>
					</div>

				</div>
			</div>
		</div>

		<div class="col s12 m3 List">
			<div class="List-header" style="background: #8f7ee6;">
				<h1 class="List-title"><i class="material-icons List-ico">verified_user</i> To verify</h1>
				<label for="" class="chip teal lighten-2 List-count">{{todos[2].length}}</label>
			</div>
			
			<div class="List-container">
				<div class="Task screen" ui-sortable="sortableOptionsList[2]" ng-model="todos[2]">
					<div class="card-panel Task-item" ng-repeat="todo in todos[2]">
						<h2 class="Task-title">{{todo.name}}</h2>
						<a href="#!" ng-click="removeTask($index)">
							<i class="material-icons Task-ico">
								power_settings_new
							</i>
						</a>
					</div>

					<div class="List-button">
						<a class="btn-floating btn-small waves-effect waves-light teal" ng-click="createTask(2)"><i class="material-icons">add</i></a>
					</div>

				</div>
			</div>

		</div>

		<div class="col s12 m3 List" style="background: #f5f7f8;">
			<div class="List-header" style="background: #d93651;">
				<h1 class="List-title"><i class="material-icons List-ico">spellcheck</i> Done</h1>
				<label for="" class="chip teal lighten-2 List-count">{{todos[3].length}}</label>
			</div>
			
			<div class="List-container">
				<div class="Task screen" ui-sortable="sortableOptionsList[3]" ng-model="todos[3]">
					<div class="card-panel Task-item" ng-repeat="todo in todos[3]">
						<h2 class="Task-title">{{todo.name}}</h2>
						<a href="#!" ng-click="removeTask($index)">
							<i class="material-icons Task-ico">
								power_settings_new
							</i>
						</a>
					</div>

					<div class="List-button">
						<a class="btn-floating btn-small waves-effect waves-light teal" ng-click="createTask(3)"><i class="material-icons">add</i></a>
					</div>

				</div>
			</div>
		</div>

	</div>
	
	<!--Modal-->
	<div id="add-task" class="modal bottom-sheet">
		<form name="taskForm" ng-submit="taskForm.$valid && addTask()" novalidate>
			<div class="modal-content">
				<div class="container">
					<div class="row">
						<div class="col s12 m6 offset-m3">
							<h4 class="Modal-title">Create new task</h4>
							<div class="Modal-container">

								<div class="input-field">
	          						<input id="task" type="text" class="validate"  ng-model="dataTask.name" name="taskName" maxlength="100" required>
	          						<label for="task">Task name</label>

	          						<span class="Form-error" ng-show="taskForm.$submitted && taskForm.taskName.$error.required">You must enter a description</span>
	          						<span class="Form-error" ng-show="taskForm.$submitted && taskForm.taskName.$error.maxlength">You must enter maximium 100 characters</span>

	        					</div>

							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="container">
					<div class="row">
						<div class="col s12 m6 offset-m3">
							<div class="input-field">
								<button type="submit" class="waves-effect waves-light btn">Create</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<!--Modal-->
	
	<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

	<script src="http://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-local-storage/0.2.7/angular-local-storage.min.js"></script>
	<script src="https://rawgithub.com/angular-ui/ui-sortable/master/src/sortable.js"></script>
	<script src="./js/app.js"></script>
	<script src="./js/controllers/MasterController.js"></script>
</body>
</html>